body {
    display:flex;
    flex-direction: column;
    margin : 0;
    font-family:Arial, Helvetica, sans-serif;
}

.header , .footer {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.logo, .footer {
    color: #f9faf8;
}

.logo {
    font-size: 24px;
}

ul {
    list-style-type: none; /*removed bullet point*/
    display: flex;
    gap: 10px; /*space between header options*/
}

a {
    text-decoration: none; /*removed underline*/
    color: #f9faf8;
}

.hero, .random, .quote, .action-button {
    min-height: 50vh;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    gap: 50px;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
}

.hero p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-container {
    flex-basis: 25%; /*this helped size the flex-item*/
}

.hero button {
    background-color: #3882f6;
    padding: 8px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}

.shrek {  /*image too big, need to correct size*/
    max-width: 350px;
    max-height: 350px;
}

.random h3 {
    font-size: 36px;
    color: #1f2937;
    text-align: center;
}

.random-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

.random-container img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 10%;
}

.random-container p {
    text-align: center;
}

.footer {
    text-align: center;
}